{% include "header.html" %}


 <div class="container">
<div class="row">
    <div class="col-md-6">
            <img src="../static/images/veg3.jpg" alt="image here" class="img-fluid">
        </div>

        <div class="col-md-6 pt-5">
            <p class="pt-5">

            </p>
            <p class="pt-5">

            </p>
            <p class="pt-5">

            </p>
            <h1 class="text-warning pt-5">Unmatched Quality and freshness</h1>


            <a class="btn btn-primary btn-success" href="/products">
                Shop here
            </a>
        </div>
</div>
 </div>

{% include "footer.html" %}