

<footer class="pt-5 bg-success">
    <div class="container">

    <div class="row">
        <div class="col-md-3">
            <h6 class="text-light">Links</h6>
            <ul class="text-warning">
                <li><a href="/" class="text-warning">Home</a></li>
                <li><a href="/about" class="text-warning">About</a></li>
                <li><a href="/products" class="text-warning">Products</a></li>
                <li><a href="/contact" class="text-warning">Contact</a></li>

            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="text-light">Sitemaps</h6>
            <ul class="text-warning">
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>page 4</li>

            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="text-light">External</h6>
             <ul class="text-warning">
                <li>External 1</li>
                <li>External 2</li>
                <li>External 3</li>
                <li>External 4</li>

            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="text-light">Contact</h6>
             <ul class="text-warning">
                <li>Phone: +254708118890</li>
                <li>sgituire@gmail.com</li>
                <li>P.O BOX 53625-00100</li>
                <li>Westlands, Haven Court</li>

            </ul>
        </div>

    </div>
    </div>
</footer>









<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/popper.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>