{% include "header.html" %}

 <div class="container">
<div class="row">
    <div class="col-md-6">
            <img src="../static/images/veg3.jpg" alt="image here" class="img-fluid">
        </div>

        <div class="col-md-6 pt-5">
            <p class="pt-5">

            </p>
            <p class="pt-5">

            </p>
            <p class="pt-5">

            </p>
            <h1 class="text-warning pt-5">Unmatched Quality and freshness</h1>


            <a class="btn btn-primary btn-success" href="/products">
                Shop here
            </a>
        </div>


    </div>



<!--    <h1 class="text-center text-success">Welcome to JaZaKikaPu</h1>-->







    <h3 class="text-center pt-5 pb-5 text-success">Why choose us</h3>

    <div class="row">
        <div class="col-md-5">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A adipisci assumenda corporis cum, delectus ducimus ea enim eos eum
                necessitatibus neque nobis, odit qui quidem quo reiciendis tempora? Molestiae, obcaecati!
            </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A adipisci assumenda corporis cum, delectus ducimus ea enim eos eum
                necessitatibus neque nobis, odit qui quidem quo reiciendis tempora? Molestiae, obcaecati!
             </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A adipisci assumenda corporis cum, delectus ducimus ea enim eos eum
                necessitatibus neque nobis, odit qui quidem quo reiciendis tempora? Molestiae, obcaecati!
             </p>

            <a class="btn btn-primary btn-success" href="/about">
                Learn More
            </a>
        </div>
        <div class="col-md-7">
            <img src="../static/images/veg2.jpg" alt="image here" class="img-fluid">
        </div>

    </div>


    <h3 class="text-center pt-5 text-success">What We Do</h3>
<div class="row pb-5">
    <div class="col-md-4 pt-5">
        <img src="../static/images/cart1.jpg" alt="" class="rounded-circle img-fluid" >
        <h5 class="pt-5 text-success">Shopping</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus asperiores, debitis distinctio dolore enim excepturi expedita, id magnam maiores
            maxime minima mollitia nesciunt ratione reprehenderit repudiandae saepe sed temporibus voluptate.
            <a href="/about" class="text-danger">
                Learn More
            </a>
        </p>
    </div>

    <div class="col-md-4 pt-5">
        <img src="../static/images/del4.jpg" alt="" class="rounded-circle img-fluid">
        <h5 class="text-success pt-5">Delivery</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus asperiores, debitis distinctio dolore enim excepturi expedita, id magnam maiores
            maxime minima mollitia nesciunt ratione reprehenderit repudiandae saepe sed temporibus voluptate.
            Lorem ipsum dolor sit amet, consectetur adipis

            <a href="/about" class="text-danger">
                Learn More
            </a>
        </p>
    </div>

    <div class="col-md-4 pt-5">
        <img src="../static/images/return3.jpg" alt="" class="rounded-circle img-fluid">
       <h5 class="pt-5 text-success">Returns</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus asperiores, debitis distinctio dolore enim excepturi expedita, id magnam maiores
            maxime minima mollitia nesciunt ratione reprehenderit repudiandae saepe sed temporibus voluptate.
            <a href="/about" class="text-danger">
                Learn More
            </a>
        </p>
    </div>

    </div>
</div>



{% include "footer.html" %}