{% include "header.html" %}

<div class="jumbotron">
    <div class="container">
        <h1>Register below</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                     <h3>Fill in the form below</h3>
                </div>

            </div>
            <div class="card-body">
                <p style="color:red">
                     {{ msg }}
                </p>


            <form action="/add-users-to-db" method="post">
                <input type="text" name="fname" placeholder="First Name"><br><br>
                 <input type="text" name="lname" placeholder="Last Name"><br><br>
                 <input type="email" name="email" placeholder="Email Address"><br><br>
                 <input type="password" name="password" placeholder="Create Password"><br><br>
<!--                <input type="password" name="password" placeholder="Confirm Password"><br><br>-->
                 <input type="tel" name="phone" placeholder="Phone Number"><br><br>
                 <input type="submit" value="Sign Up">

            </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Alternatively</h3>
                </div>
                <div class="card-body">
                    <p>Already Registered, <a href="/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}