{% include "home_header.html" %}

<div class="jumbotron">
    <div class="container">
        <h1>This page is only for logged in users</h1>
        <a href="/home">HOME</a> --
        <a href="/user-profile">PROFILE</a>
    </div>
</div>

<div class="container">
    <h3>The Profile Page</h3>

    <div class="card">
        <div class="card-header">
            This is the profile page
        </div>

    </div>



</div><!-- the container ends here -->

{% include "footer.html" %}